#directories
bower_components
node_modules
dist
Spotify Jukebox-darwin-x64
Spotify Jukebox-linux-x64
Spotify Jukebox-linux-ia32
Spotify Jukebox-mas-x64
Spotify Jukebox-win32-ia32
Spotify Jukebox-win32-x64
.idea

#files
*.tgz
*.log
