<div class="container-fluid">
    <div class="row">
        <div class="col-md-16">
        <input type="text" ng-model="nameFilter" placeholder="Search..."/>
            </div>
    </div>
    <div class="row">
        <div class="col-md-16"><h1>Jukebox</h1></div>
    </div>
    <div class="row">
        <div class="col-md-5"><h1>Now playing</h1></div>
        <div class="col-md-5"><h1>Credits</h1></div>
        <div class="col-md-5"><h1>Upcoming</h1></div>
    </div>
    <div class="row" ng-repeat="driver in driversList | filter: searchFilter">
        <div class="col-xs-1 col-md-1">{{$index + 1}}</div>
        <div class="col-xs-3 col-md-3">
            <img src="img/flags/{{driver.Driver.nationality}}.png"/>
            <a href="#/drivers/{{driver.Driver.driverId}}">
                {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
            </a>
        </div>
        <div class="col-xs-6 col-md-6">{{driver.Constructors[0].name}}</div>
        <div class="col-xs-6 col-md-6">{{driver.points}}</div>
    </div>
</div>