<div class="mainTitle">SPOTIFY JUKEBOX</div>
<button type="button" class="btn buttonPurple" ng-click="logoutSpotify()">Logout</button>
<div class="container mainContainer">
    <div class="row">
        <div class="col-xs-5 col-md-offset-1 text-right">
            <div class="topBoxTitle blink_me">NOW PLAYING</div>
            <div class="row topBoxContent">
                <div class="col-xs-12">
                    {{nowPlayingTrack.track.name}}<br/>{{nowPlayingTrack.track.album.name}}<br/>{{nowPlayingTrack.track.artists[0].name}}<br/>

                    Run time: 02:14<br/>
                    Coming up: {{comingUp()}}
                </div>
            </div>
        </div>
        <div class="col-xs-5 text-left">
            <div class="topBoxTitle">COMING UP</div>
            <div class="row topBoxContent">
                <div class="col-xs-12">
                    <span ng-repeat="track in upcomingTrackList.slice(0,5) track by $index">
                    {{track.track.name}}<br/>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="tracksContainer">
        <div class="row" ng-repeat="track in tracksList.slice(0,12) track by $index" ng-switch on="$index % 3">
        <span ng-switch-when="0">
            <div class="col-xs-4 text-center trackBox">{{$index + 1}}. {{tracksList[$index].track.name}}<br/><span
                    class="innerTrackBox">{{tracksList[$index].track.album.name}}</span><br/>{{tracksList[$index].track.artists[0].name}}</div>
            <div class="col-xs-4 text-center trackBox">{{$index + 2}}. {{tracksList[$index+1].track.name}}<br/><span
                    class="innerTrackBox">{{tracksList[$index+1].track.album.name}}</span><br/>{{tracksList[$index+1].track.artists[0].name}}</div>
            <div class="col-xs-4 text-center trackBox">{{$index + 3}}. {{tracksList[$index+2].track.name}}<br/><span
                    class="innerTrackBox">{{tracksList[$index+2].track.album.name}}</span><br/>{{tracksList[$index+2].track.artists[0].name}}</div>
        </span>
        </div>
    </div>
    <div class="row bottomBoxesContainer">
        <div class="col-xs-4 text-center bottomBox">
            <h4>SELECTION</h4>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(1)">1</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(2)">2</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(3)">3</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(4)">4</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(5)">5</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(6)">6</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(7)">7</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(8)">8</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(9)">9</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(10)">10</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(11)">11</button>
                    <button type="button" class="btn buttonPurple" ng-click="addTrackToUpcoming(12)">12</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <button type="button" class="btn buttonPurple buttonPurpleLarge" ng-click="loadPreviousPage()">PREV</button>
                </div>
                <div class="col-xs-6 text-center">
                    <button type="button" class="btn buttonPurple buttonPurpleLarge" ng-click="loadNextPage()">NEXT</button>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-offset-1 text-center bottomBox">
            <h4>CREDITS</h4>
            <div class="creditsLabel">{{credits}}</div>
        </div>
        <div class="col-xs-3 col-md-offset-1 text-center bottomBox">
            <h4>INSTRUCTIONS</h4>
            1) bla bla bla <br/>
            2) bla bla bla <br/>
            3) bla bla bla
        </div>
    </div>
</div>