<!DOCTYPE html>
<html>
<head>
  <title>JukeBox</title>
  <script language="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script language="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
  <script language="text/javascript" src="index.js"></script>
</head>

<body ng-app="JukeboxApp" ng-controller="mainController">
<div class="mainTitle">SPOTIFY JUKEBOX</div>
<div class="container mainContainer">
  <div class="row topBoxMainContent">
    <div class="col-xs-5 col-md-offset-1 text-right">
      <div class="topBoxTitle blink_me">NOW PLAYING</div>
      <div class="row topBoxContent">
        <div class="col-xs-12">
          {{nowPlayingTrack.track.name}}<br/>{{nowPlayingTrack.track.album.name}}<br/>{{nowPlayingTrack.track.artists[0].name}}<br/>
          <span class="grayText">Run time: {{currentRuntime}}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-5 text-left">
      <div class="topBoxTitle">COMING UP ({{comingUp()}})</div>
      <div class="row topBoxContent">
        <div class="col-xs-12">
                    <span ng-repeat="track in upcomingTrackList.slice(0,4) track by $index">
                    {{track.track.name}}<br/>
                    </span>
        </div>
      </div>
    </div>
  </div>
  <div class="loadingContainer" ng-hide="loadingHidden">
    <img src="img/ring.gif">
  </div>
  <div class="tracksContainer container-fluid" ng-show="loadingHidden">
    <div class="row" ng-repeat="track in tracksList.slice(0,12) track by $index" ng-switch on="$index % 3">
        <span ng-switch-when="0">
            <div class="col-xs-4 trackBox">
              <span class="trackIndex">{{$index + 1}}</span>
              <span class="trackInfo">
                <table class="trackInfoTable">
                  <tr><td>{{tracksList[$index].track.name}}</td></tr>
                  <tr><td><span class="innerTrackBox">{{tracksList[$index].track.album.name}}</span></td></tr>
                  <tr><td>{{tracksList[$index].track.artists[0].name}}</td></tr>
                </table>
              </span>
            </div>
          <div class="col-xs-4 trackBox">
              <span class="trackIndex">{{$index + 2}}</span>
              <span class="trackInfo">
                <table class="trackInfoTable">
                  <tr><td>{{tracksList[$index + 1].track.name}}</td></tr>
                  <tr><td><span class="innerTrackBox">{{tracksList[$index + 1].track.album.name}}</span></td></tr>
                  <tr><td>{{tracksList[$index + 1].track.artists[0].name}}</td></tr>
                </table>
              </span>
            </div>

          <div class="col-xs-4 trackBox">
              <span class="trackIndex">{{$index + 3}}</span>
              <span class="trackInfo">
                <table class="trackInfoTable">
                  <tr><td>{{tracksList[$index + 2].track.name}}</td></tr>
                  <tr><td><span class="innerTrackBox">{{tracksList[$index + 2].track.album.name}}</span></td></tr>
                  <tr><td>{{tracksList[$index + 2].track.artists[0].name}}</td></tr>
                </table>
              </span>
            </div>
        </span>
    </div>
  </div>
  <div class="row bottomBoxesContainer">
    <div class="col-xs-4 bottomBox">
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn buttonPurple" ng-class="{'selected': selectedButtonIndex == 1}" ng-click="addTrackToUpcoming(1)">1</button>
          <button type="button" class="btn buttonPurple" ng-class="{'selected': selectedButtonIndex == 2}" ng-click="addTrackToUpcoming(2)">2</button>
          <button type="button" class="btn buttonPurple" ng-class="{'selected': selectedButtonIndex == 3}" ng-click="addTrackToUpcoming(3)">3</button>
          <button type="button" class="btn buttonPurple" ng-class="{'selected': selectedButtonIndex == 4}" ng-click="addTrackToUpcoming(4)">4</button>
          <button type="button" class="btn buttonPurple" ng-class="{'selected': selectedButtonIndex == 5}" ng-click="addTrackToUpcoming(5)">5</button>
          <button type="button" class="btn buttonPurple" ng-class="{'selected': selectedButtonIndex == 6}" ng-click="addTrackToUpcoming(6)">6</button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn buttonPurple move" ng-class="{'selected': selectedButtonIndex == 7}" ng-click="addTrackToUpcoming(7)">7</button>
          <button type="button" class="btn buttonPurple move" ng-class="{'selected': selectedButtonIndex == 8}" ng-click="addTrackToUpcoming(8)">8</button>
          <button type="button" class="btn buttonPurple move" ng-class="{'selected': selectedButtonIndex == 9}" ng-click="addTrackToUpcoming(9)">9</button>
          <button type="button" class="btn buttonPurple move" ng-class="{'selected': selectedButtonIndex == 10}" ng-click="addTrackToUpcoming(10)">10</button>
          <button type="button" class="btn buttonPurple move" ng-class="{'selected': selectedButtonIndex == 11}" ng-click="addTrackToUpcoming(11)">11</button>
          <button type="button" class="btn buttonPurple move" ng-class="{'selected': selectedButtonIndex == 12}" ng-click="addTrackToUpcoming(12)">12</button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn buttonPurple buttonPurpleLarge" ng-class="{'selected': selectedButtonIndex == 13}" ng-click="loadPreviousPage()">PREV</button>
          <button type="button" class="btn buttonPurple buttonPurpleLarge" ng-class="{'selected': selectedButtonIndex == 14}" ng-click="loadNextPage()">NEXT</button>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-md-offset-1 bottomBox">
      <h4>CREDITS</h4>
      <div class="creditsLabel">{{credits}}</div>
    </div>
    <div class="col-xs-3 col-md-offset-1 bottomBox instructionsBox">
      <h4>INSTRUCTIONS</h4>
      1) Insert coins - Press key '5'<br/>
      2) Select a track - Move with arrows and press key '1' to select<br/>
    </div>
  </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="js/mainController.js"></script>
</body>
</html>
