<!DOCTYPE html>
<html>
<head>
    <title>JukeBox</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>

<body ng-app="JukeboxApp" ng-controller="settingsController">
<div class="mainTitle">SETTINGS</div>
<br/>
<div class="container">
    <div class="dropdown">
        <button class="dropbtn">Playlists</button>
        <div class="dropdown-content" ng-repeat="playlist in playlists">
            <a href="#" ng-click="savePlayList(playlist.uri, playlist.id, playlist.owner.id)">{{playlist.name}}</a>
        </div>
    </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="js/settingsController.js"></script>
<script language="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script language="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="text/javascript" src="bower_components/bootstrap/js/dropdown.js"></script>
</body>
</html>


